body {
    font-family: 'Ubuntu', sans-serif;
}

/*-----------NAVIGATION-----------*/

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

/*-----------CALLOUT---------*/


.callout-container {
    height: 100vh;

    background: url("../images/callout-bg-img.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----------TESTIMONIALS------*/

.media {
    border-radius: .3rem;
    padding: 12px;
}

.blockquote p {
    font-size: 15px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

/*-----------FOOTER-----------*/

footer {
    color: 	#f9f9f9;
}
li a i {
    font-size: 25px;
    color: #f9f9f9;
}

.find-us-social {
    margin-top: .75rem;
    margin-bottom: 0.1rem;
}

.copyright {
    margin-bottom: 0.2rem;
    font-size: 10px;
}

/*------Hover.css-------*/

.hvr-back-pulse {
    border-radius: .3rem;
    }

/*use this bit for background when you're ready to decide on the exact overall blue-theme color for the site

.hvr-back-pulse:before {
    background:;
    }

*/