body {
    font-family: 'Ubuntu', sans-serif;
}

/*-----------NAVIGATION-----------*/

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

/*-----------CALLOUT---------*/


.callout-container {
    height: 100vh;

    background: url("../images/callout-bg-img.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----------TESTIMONIALS------*/

.quote-card {
    border: 1px solid #212529;
}

/*-----------FOOTER-----------*/

footer {
    color: 	#f9f9f9;
}
li a i {
    font-size: 25px;
    color: #f9f9f9;
}

.find-us-social {
    margin-top: .75rem;
    margin-bottom: 0.1rem;
}

.copyright {
    margin-bottom: 0.2rem;
    font-size: 10px;
}