body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #212529;
}

.page-header-text {
    color: #f9f9f9;
    font-family: 'Orbitron', sans-serif;
}

.white-text {
    color: #f9f9f9;
}


/*-----------NAVIGATION-----------*/

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

/*-----------CALLOUT---------*/


.callout-container {
    height: 100vh;

    background: url("../images/callout-bg-img.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: #212529;
}

/*-----------TESTIMONIALS------*/

.testimonials-header {
    font-family: 'Orbitron', sans-serif;
    color: #f9f9f9;
}

.media {
    border-radius: .3rem;
    padding: 12px;
}

.blockquote p {
    font-size: 15px;
    color: #f9f9f9;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

/*-----------FOOTER-----------*/

footer {
    color: #f9f9f9;
}

.find-us-social-header {
    font-family: 'Orbitron', sans-serif;
}

li a i {
    font-size: 22px;
    color: #f9f9f9;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

li a i:hover {
    color: #17a2b8;
}

.find-us-social {
    margin-top: .75rem;
    margin-bottom: 0.1rem;
}

.copyright {
    margin-bottom: 0.2rem;
    font-size: 10px;
}

/*------Hover.css-------*/

.hvr-back-pulse {
    border-radius: .3rem;
    }

/*use this bit for background when you're ready to decide on the exact overall blue-theme color for the site

.hvr-back-pulse:before {
    background:;
    }

*/

/*------------LOCATIONS-----------*/

.locations-img-container {
    display: flex;
    justify-content: center;
}

figcaption {
    font-size: 20px;
    color: #f9f9f9;
}

.opening-hours {
    font-size: 14px;
    margin: 0;
}

/*-------------ABOUTUS-------------*/


.nav-pills .nav-link.active {
    background-color: #17a2b8;
}

a {
    color: #f9f9f9;
}

a:hover {
    color: #17a2b8;
    text-decoration: none;
}

.aboutus-text {
    color: #f9f9f9;
}

.aboutus-text-nav {
    color: #f9f9f9;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}

/*
.tab-pane {
    padding: 3px;
    border-radius: .3rem;
    background-color: #17a2b8;
}
*/

/*------------CONTACT----------*/

.center-contact {
    margin: 0 auto;
    max-width: 70%;
}